/*
   Import partials below
*/
@import "normalize";

$main-title-and-subtitle-color: #333333;
$main-text-color: #999999;
$main-icon-button-and-shadow-color: #95e1d3;
$main-icon-and-gradient-color: #f38181;
$main-icon-and-gradient-color-2: #fce38a;
$footer-border-color: #e5e5e5;
$color-white: #ffffff;
$color-black: #000000;
$font-for-menu-title-and-footer: "Montserrat", sans-serif;
$font-for-subtitle: "Kaushan Script", cursive;
$font-for-text: "Roboto", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.background-wrapper {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.8)),
      to(rgba(243, 129, 129, 0.8))
    ),
    url(../img/top-background.jpg);
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8),
      rgba(243, 129, 129, 0.8)
    ),
    url(../img/top-background.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8),
      rgba(243, 129, 129, 0.8)
    ),
    url(../img/top-background.jpg);
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.8),
      rgba(243, 129, 129, 0.8)
    ),
    url(../img/top-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 28px;
  padding-bottom: 230px;
  min-width: 1200px;
}

.wrapper-for-all-content {
  width: 1200px;
  margin: auto;
}

.wrapper-for-all-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 170px;
}

.logo {
  font-size: 30px;
  font-family: $font-for-menu-title-and-footer;
  color: $color-white;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  -ms-flex-preferred-size: 52%;
  flex-basis: 52%;
}

.menu__list {
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.menu__item {
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid $main-icon-and-gradient-color-2;
  }
}

.menu__link {
  text-decoration: none;
  color: $color-white;
  font-family: $font-for-menu-title-and-footer;
  display: inline-block; /*Задаю, щоб могти дати висоту*/
  line-height: 2.4;

  &:hover {
    color: $main-icon-and-gradient-color-2;
  }
}

.menu__link--card {
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-cart.svg);
  background-size: cover;
  background-position: center;
}

.menu__link--search {
  display: inline-block; /*Задаю, щоб могти дати висоту*/
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-search.svg);
  background-size: cover;
  background-position: center;
}

.promo {
  width: 820px;
  margin: auto;
}

.promo__subtitle {
  font-size: 72px;
  font-family: $font-for-subtitle;
  color: $color-white;
  text-align: center;
  margin-bottom: 40px;
}

.promo__title {
  font-size: 150px;
  font-family: $font-for-menu-title-and-footer;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.933;
  margin-bottom: 126px;
}

.promo__button {
  font-size: 14px;
  font-family: $font-for-menu-title-and-footer;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  height: 34px;
  width: 154px;
  margin: auto;
  line-height: 2.5;
  border: 3px solid $color-white;
}

.wrapper-for-all-blocks-bellow-promo-block {
  margin-top: 45px;
}

.wrapper-for-all-content__servies {
  margin-bottom: 80px;
}

.services__subtitle {
  font-size: 24px;
  font-family: $font-for-subtitle;
  color: $main-title-and-subtitle-color;
  text-align: center;
  margin-bottom: 15px;
}

.services__title {
  font-size: 30px;
  font-family: $font-for-menu-title-and-footer;
  color: $main-title-and-subtitle-color;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 110px;
  position: relative;
}

.services__title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: $main-icon-and-gradient-color;
  position: absolute;
  left: 50%;
  bottom: -40px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* -left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); */

.services__articles-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
  margin-bottom: 100px;
}

.article:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.article__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.article__title {
  font-size: 14px;
  font-family: $font-for-menu-title-and-footer;
  color: $main-title-and-subtitle-color;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.article__text {
  font-size: 15px;
  font-family: $font-for-text;
  color: $main-text-color;
  line-height: 1.6;
}

.wrapper-for-all-content__team {
  margin-bottom: 80px;
}

.team__subtitle {
  font-size: 24px;
  font-family: $font-for-subtitle;
  color: $main-title-and-subtitle-color;
  text-align: center;
  margin-bottom: 15px;
}

.team__title {
  font-size: 30px;
  font-family: $font-for-menu-title-and-footer;
  color: $main-title-and-subtitle-color;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
  position: relative;
}

.team__title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: $main-icon-and-gradient-color;
  position: absolute;
  left: 50%;
  bottom: -40px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.team__text {
  font-size: 15px;
  font-family: $font-for-text;
  color: $main-text-color;
  line-height: 1.6;
  text-align: center;
  width: 980px;
  margin: auto;
  margin-bottom: 90px;
  margin-top: 45px;
}

.team-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-card {
  -ms-flex-preferred-size: 31.6666%;
  flex-basis: 31.6666%;
}

.team-card__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-card__image-wrapper {
  -webkit-transition: -webkit-transform 0.2s linear 0s,
    -webkit-box-shadow 0.2s linear 0s;
  transition: -webkit-transform 0.2s linear 0s,
    -webkit-box-shadow 0.2s linear 0s;
  -o-transition: transform 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: transform 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: transform 0.2s linear 0s, box-shadow 0.2s linear 0s,
    -webkit-transform 0.2s linear 0s, -webkit-box-shadow 0.2s linear 0s;
  -webkit-box-shadow: 0 0 0 0 $main-icon-button-and-shadow-color;
  box-shadow: 0 0 0 0 $main-icon-button-and-shadow-color;
  position: relative;

  &:hover {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0 0 $main-icon-button-and-shadow-color;
    box-shadow: 10px 10px 0 0 $main-icon-button-and-shadow-color;
  }
}
// Цей ховер поставив тут, бо якщо поставити на картинку, то градіент дивно трясеться при ховері


.team-card__image-hover-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0s;
  transition: opacity 0.2s linear 0s;
}

.team-card__image-wrapper:hover .team-card__image-hover-layer {
  background: -webkit-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  background: -ms-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  opacity: 1;
}

.icons-wrapper {
  background: $main-icon-and-gradient-color;
}

.icons-wrapper__icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: $main-icon-and-gradient-color-2;
  fill: $main-icon-and-gradient-color;

  &:hover {
    background-color: $main-icon-and-gradient-color;
    fill: $color-white;
  }
}

.icons-wrapper__icon-link:not(:last-child) {
  margin-right: -3px;
}

.team-card__member-name {
  font-size: 14px;
  font-family: $font-for-menu-title-and-footer;
  font-weight: 600;
  color: $main-title-and-subtitle-color;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 30px;
}

.team-card__member-position {
  font-size: 15px;
  font-family: $font-for-text;
  color: $main-text-color;
  font-style: italic;
  text-align: center;
  line-height: 1.6;
  display: block;
  margin-top: 15px;
}

.footer {
  padding: 10px 0;
  border-top: 1px solid $footer-border-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright {
  font-size: 14px;
  font-family: $font-for-menu-title-and-footer;
  color: $main-title-and-subtitle-color;
  font-weight: 500;
}

.copyright__company-name {
  color: $main-icon-and-gradient-color;
}

.subscribe-form__text-input {
  font-size: 15px;
  font-family: $font-for-text;
  font-style: italic;
  height: 40px;
  width: 230px;
  border: 1px solid $footer-border-color;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: -5px;
  padding-left: 10px;
}

.subscribe-form__button {
  background-color: $main-icon-button-and-shadow-color;
  height: 40px;
  width: 150px;
  border: 0;
  font-size: 14px;
  font-family: $font-for-menu-title-and-footer;
  font-weight: bold;
  color: $color-white;
  text-transform: uppercase;
  line-height: 3;
}

/* MEDIA */

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-wrapper {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.8)),
        to(rgba(243, 129, 129, 0.8))
      ),
      url(../img/top-background-x2.jpg);
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.8),
        rgba(243, 129, 129, 0.8)
      ),
      url(../img/top-background-x2.jpg);
    background-image: -o-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.8),
        rgba(243, 129, 129, 0.8)
      ),
      url(../img/top-background-x2.jpg);
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.8),
        rgba(243, 129, 129, 0.8)
      ),
      url(../img/top-background-x2.jpg);
  }
}
