:root {
  --main-text-color: #333333;
  --main-text-color-2: #999999;
  --main-blue-color: #95e1d3;
  --main-hover-color: #f38181;
  --main-hover-color-2: #fce38a;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-section-description: "Kaushan Script", cursive;
  --font-title-and-header: "Montserrat", sans-serif;
  --font-text: "Roboto", sans-serif;
}

body {
  padding-top: 20px;
  padding-bottom: 90px;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.header {
  display: flex;
}

.logo {
  font-size: 30px;
  font-family: var(--font-title-and-header);
  color: var(--main-blue-color);
  margin-right: auto; /*Довго мучався і зрозумів, що вроді тільки так можна спозиціонувати один флекс елемент на головній осі вліво коли всі інші спозиціоновані вправо із-за justify-content:flex-end. Вова, так правильно робити?*/
  flex-shrink: 0;
  flex-grow: 0;
}

.header-menu {
  flex-shrink: 1;
  flex-grow: 1;
  padding-top: 10px; /*Таким способом меню в хедері відцентрував. Якщо робив спочобом align-item, то ніяк не міг зробити ширину ссилки на 100%, щоб зробити бордер знизу при ховері*/
}

.header-menu-list {
  display: flex;
  justify-content: flex-end; /*Так подвинув все меню вправо*/
  text-transform: uppercase;
  height: 100%; /*Зробив для того, щоб бордер знизу впирався в самий низ хедера*/
}

.header-menu-list-li {
  flex-basis: 10%;
  display: flex;
  justify-content: flex-end; /*Подвинув сам текст в менюшці до краю*/
}

.header-menu-list-li-link {
  text-decoration: none;
  color: var(--main-blue-color);
  font-family: var(--font-title-and-header);
}

.header-menu-list-li-link:hover {
  color: var(--main-hover-color);
  border-bottom: 2px solid var(--main-hover-color);
}

.services {
  margin-top: 130px;
}

.services-description {
  font-size: 24px;
  font-family: var(--font-section-description);
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 15px;
}

.services-title {
  font-size: 30px;
  font-family: var(--font-title-and-header);
  color: var(--main-text-color);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.services-line {
  width: 60px;
  border: 1px solid var(--main-hover-color);
  background: var(--main-hover-color);
  margin: auto;
  margin-bottom: 60px;
}

.services-article-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services-article {
  display: flex;
  flex-basis: 33.3333%;
  margin-bottom: 100px;
}

.services-article:nth-last-child(-n + 3) {
  /*Так забрав у останніх трьох відступ накінці.*/
  margin-bottom: 0;
}

.services-article-icon-wrapper {
  display: flex;
  flex: 0 0 80px;
  justify-content: center;
  align-items: flex-start;
}

.services-article-title {
  font-size: 15px;
  font-family: var(--font-title-and-header);
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services-article-text {
  font-size: 14px;
  font-family: var(--font-text);
  color: var(--main-text-color-2);
}

.team-cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.team-cards {
  flex-basis: 31%;
}


.team-cards-image {
  width: 100%;
  display: block; /*Це задав для того, щоб прибрати дивний маленький відступ під картинкою*/
}

.team-cards-name {
  font-size: 14px;
  font-family: var(--font-title-and-header);
  font-weight: 500;
  color: var(--main-text-color);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 30px;
}

.team-cards-position {
  font-size: 15px;
  font-family: var(--font-text);
  color: var(--main-text-color-2);
  font-style: italic;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.team-cards-image-wrapper {
  transition: transform 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 0 0 0 var(--main-blue-color);
  position: relative; /*Це поставив тут, бо якщо поставити на картинку, то градіент дивно трясеться при ховері*/
}

.team-cards-image-wrapper:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 0 var(--main-blue-color);
}

.team-cards-image-hover-top-layer-icons-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s linear 0s;
}

.team-cards-image-wrapper:hover
  .team-cards-image-hover-top-layer-icons-wrapper {
  background: -moz-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  background: -ms-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  opacity: 1;
}

.team-cards-image-hover-top-layer-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-cards-image-hover-top-layer-icons-link {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-hover-color-2);
  transition: background-color 0.2s linear 0s;
  margin-right: 1px;
}

.team-cards-image-hover-top-layer-icons-link:last-child {
  margin-right: 0;
}

.team-cards-image-hover-top-layer-icons-link:hover {
  background-color: var(--main-blue-color);
}
