* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding-top: 10% ;
    padding-bottom: 30% ; 
}

.wrapper {
  background:white;
  width: 480px;
  padding: 37px;
  margin: auto;
}

.agency-profile-title {
  color: #263555;
  margin-bottom: 7%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Pathway Gothic One";
}

.agency-profile-image {
  margin-bottom: 7%;
}

.agency-profile-subtitle {
  color: #263555;
  margin-bottom: 4%;
  font-family: "Pathway Gothic One";
}

.agency-profile-text {
  font-family: 'Economica', sans-serif;
}

.principles {
  margin-top: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid #dedbdb;
}

.principles-title {
  color: #263555;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Pathway Gothic One";
}

.principles-list {
  list-style-type: none;
  padding-right: 10%;
}

.principles-list-li {
  margin-bottom: 7%;
}

.principles-list-li:last-child {
  margin-bottom: 0;
}

.principles-list-title {
  margin-bottom: 3%;
  color: #263555;
  font-family: "Pathway Gothic One";
}

.principles-list-text {
  font-family: 'Economica', sans-serif;
}

.offer {
  margin-top: 10%;
}

.offer-title {
  color: #263555;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Pathway Gothic One";
}

.offer-subtitle {
  color: #263555;
  margin-bottom: 4%;
  font-family: "Pathway Gothic One";
}

.offer-text {
  margin-bottom: 5%;
  font-family: 'Economica', sans-serif;
}

.offer-list {
  column-count: 2;
  padding-left: 7%;
  list-style-type: none;
  font-weight: bold;
  color: #263555;
  font-family: 'Economica', sans-serif;
}

.offer-list-li {
  margin-bottom: 7%;
  display: inline-block; /*Задав це для того, щоб другу колонку вирівняти по вертикалі*/
}
