:root {
  --main-font-family: "Pathway Gothic One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 16px;
}

body {
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.wrapper {
  width: 1024px;
  margin: auto;
}

.header {
  margin-bottom: 80px;
}

.header-menu-list {
  text-transform: uppercase;
  text-align: center;
  padding-top: 55px;
}

.header-menu-list-li {
  display: inline-block;
  vertical-align: middle;
  font-family: var(--main-font-family);
  position: relative;
  padding-bottom: 10px; /*Це зробив для того, щоб коли я навожу на кнопку меню і потім веду мишкою вниз до сабменю, то щоб мишка не попадала в пробел між меню і сабменю*/
  margin-right: 50px;
}

.header-menu-list-li:last-child {
  margin-right: 0;
}

.header-menu-list-li:nth-child(3) {
  margin-right: 240px;
}

.header-links {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

.logo {
  height: 140px;
  width: 140px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 140px; /*Скажи, будь ласка, чи правильно так позиціонувати текст поцентру*/
  font-size: 55px;
  color: #263555;
  font-family: dorsa;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 110px;
  transform: translate(-50%, -50%);
}

.header-submenu-list {
  position: absolute;
  display: none;
  background: #ffffff;
  top: 100%;
  border-radius: 4px;
}

.header-submenu-list::after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 3px;
  margin-left: -3px;
}
.header-submenu-list-li {
  color: #6b7488;
  padding: 6px;
  font-size: 18px;
  text-decoration: none;
}

.header-menu-list-li:hover .header-links {
  color: #263555;
}

.header-menu-list-li:hover .header-submenu-list {
  display: block;
}

.main-wrapper {
  background: #ffffff;
  padding: 55px 60px 130px 60px;
}

.slider {
  position: relative;
}

.carousel {
  width: 100%;
  margin: auto;
  position: relative;
}

.slick-arrow {
  width: 100px;
  height: 100px;
  background: #38afe5;
  display: inline-block;
  position: absolute;
  z-index: 10;
  border: 0;
}

.slick-arrow:hover {
  background: rgba(34, 65, 70, 0.5);
}

.slick-arrow:focus {
  outline: none; /*Це написав для того, щоб прибрати дивну рамку при нажиманні на кнопку в браузері хром*/
}

.slick-prev {
  height: 100px;
  width: 50px;
  bottom: 40px;
  left: 40px;
  border-radius: 200px 0 0 200px;
}

.slick-next {
  height: 100px;
  width: 50px;
  bottom: 40px;
  left: 90px;
  border-radius: 0 200px 200px 0;
}

.slick-prev::before {
  content: "\2b05";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.slick-next::after {
  content: "\2b05";
  position: absolute; /*Зробив для того, щоб змогти розвернути стрілку*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(-1, 1); /*Не нашов в юнікоді стрілку вправо. Тому я взяв ту, що напрялена вліво і розвернув зеркально по вертикалі*/
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.slider-slogan-1 {
  padding: 20px 15px;
  background: #ffffff;
  display: block;
  font-size: 22px;
  position: absolute;
  top: 215px;
  text-transform: uppercase;
  color: #263555;
  font-family: var(--main-font-family);
  border: 1px solid #ececea;
}

.slider-slogan-2 {
  padding: 15px 10px;
  background: #38afe5;
  display: block;
  font-size: 34px;
  position: absolute;
  top: 280px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: var(--main-font-family);
}

.destinations {
  margin-top: 50px;
}


.destinations-title {
  font-size: 30px;
  font-family: var(--main-font-family);
  color: #263555;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.destinations-article {
  display: inline-block;
  margin-right: 17px;
  height: 270px;
  width: 287px;
  position: relative;
}

.destinations-article:last-child {
  margin-right: 0;
}

.destinations-article:hover .details-of-destination{
  display: inline-block;
}

.details-of-destination {
  display: none;
  position: absolute;
  height: 270px;
  width: 50%;
  top: 0;
  left: 0;
  background: #193149;
  padding: 20px 10px;
}
.details-title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  font-family: var(--main-font-family);
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 25px;
}

.details-text {
  color: #cbc6c6;
  font-family: "Arial";
  font-size: 9px;
  line-height: 15.21px;
  text-transform: none;
  margin-bottom: 9px;
  text-align: justify;
}

.details-button {
  border-radius: 5px;
  border: 2px solid #ececea;
  background: #ffffff;
  color: #000000;
  font-size: 12px;
  font-family: "Arial";
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  margin-left: 50%;
  text-decoration: none;
}
