* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 16px;
}
.wrapper {
  width: 1020px;
  padding: 120px 60px 80px 60px;
  margin: auto;
  background: white;
}

.agency-profile-and-principles-wrapper {
  border-bottom: 1px solid #dedbdb;
  padding-bottom: 50px;
}

.agency-profile {
  width: 70%;
  display: inline-block;
}

.agency-profile-title {
  color: #263555;
  text-transform: uppercase;
  font-family: "Pathway Gothic One";
  font-weight: normal;
  margin-bottom: 50px;
}

.agency-profile-image {
  float: left;
  margin-right: 3%;
  margin-bottom: 2%;
}

.agency-profile-subtitle {
  color: #263555;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
  font-size: 14px;
  line-height: 1.5;
}

.agency-profile-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #4e5050;
  font-size: 13px;
  line-height: 1.5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.principles {
  width: 30%;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  padding-left: 5%;
}

.principles-title {
  color: #263555;
  text-transform: uppercase;
  font-family: "Pathway Gothic One";
  font-weight: normal;
  margin-bottom: 50px;
}

.principles-list {
  list-style-type: none;
  padding-left: 15%;
  counter-reset: counter-principles;
}

.principles-list-li {
  margin-bottom: 12%;
  position: relative;
}

.principles-list-li:last-child {
  margin-bottom: 0;
}

.principles-list-li::before {
  content: counter(counter-principles)"";
  counter-increment: counter-principles;
  width: 25px;
  height: 25px;
  color: white;
  background: #38afe5;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -40px;
  text-align: center;
  line-height: 1.7em;
}
.principles-list-title {
  margin-bottom: 3%;
  color: #263555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.principles-list-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #4e5050;
  font-size: 13px;
  line-height: 1.5;
}

.offer-and-testimonial-wrapper {
  margin-top: 50px;
}
.offer {
  width: 70%;
  display: inline-block;
}

.offer-title {
  color: #263555;
  text-transform: uppercase;
  font-family: "Pathway Gothic One";
  font-weight: normal;
  margin-bottom: 50px;
}

.offer-subtitle {
  color: #263555;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
  font-size: 14px;
  line-height: 1.5;
}

.offer-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #4e5050;
  font-size: 13px;
  line-height: 1.5;
}

.offer-list {
  column-count: 2;
  margin-top: 25px;
}

.offer-list-li {
  color: #263555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  padding-left: 20px;
  position: relative;
  padding-bottom: 15px;
  display: inline-block; /*Не знав, як підняти другу колонку вверх. Підняв таким способом.*/
}

.offer-list-li:last-child {
  padding-bottom: 0;
}

.offer-list-li::before {
  content: "\2192";
  color: #38afe5;
  position: absolute;
  left: 0;
}

.testimonial {
  width: 30%;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  padding-left: 5%;
}

.testimonial-title {
  color: #263555;
  text-transform: uppercase;
  font-family: "Pathway Gothic One";
  font-weight: normal;
  margin-bottom: 50px;
}
.testimonial-text-wrapper {
  position: relative;
  background: #ffffff;
  border: 1px solid #dfdcdc;
}

.testimonial-text-wrapper::after,
.testimonial-text-wrapper::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.testimonial-text-wrapper::after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 25px;
  margin-left: -25px;
}
.testimonial-text-wrapper::before {
  border-color: rgba(223, 220, 220, 0);
  border-top-color: #dfdcdc;
  border-width: 26px;
  margin-left: -26px;
}

.testimonial-text {
  color: #263555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px;
}

.testimonial-text::before {
  content: "\201C ";
}

.testimonial-text::after {
  content: "\201C ";
}

.testimonial-text-author {
  color: #263555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-top: 30px;
}

.testimonial-text-author-position {
  font-family: Arial, Helvetica, sans-serif;
  color: #4e5050;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}


.logo {
  color: #ffffff
}