:root {
  --font-for-logo-register-buttons-titles-members-name: "Montserrat", sans-serif;
  --font-for-subtitles-members-description: "Roboto", sans-serif;
  --text-color-for-logo-register-buttons-text-titles-subtitles: #ffffff;
  --text-color-for-partners-title-partners-members-name: #333333;
  --text-color-for-members-description: #8f8f8f;
  --color-for-bottons: #ff4e50;
}

body {
  padding-bottom: 2.5rem;
}

.wrapper-for-header-and-main-find-section-background {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper-for-all-content {
  margin: auto;
  min-width: 20rem;
  max-width: 58.75rem;
}

.logo {
  font-size: 1.25rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.login-and-sign-up-list {
  font-size: 0.875rem;
}

.login-and-sign-up-list-li {
  border: 2px solid transparent;
  border-radius: 2rem;
}

.sign-up-button {
  border: 2px solid
    var(--text-color-for-logo-register-buttons-text-titles-subtitles);
}

.login-and-sign-up-list-li-link {
  font-size: 0.875rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 400;
  text-decoration: none;
  line-height: 1.9rem; /*Так вирівняв текст всередині ссилки*/
  text-align: center;
}

.main-find-title {
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 1rem; /*Задав чисто в декоративних цілях*/
}

.main-find-subtitle {
  font-family: var(--font-for-subtitles-members-description);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 100;
  text-align: center;
  padding: 0 1rem; /*Задав чисто в декоративних цілях*/
}

.bottons-for-main-find-and-partners-finder {
  text-decoration: none;
  font-size: 0.875rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  font-weight: 700;
  text-align: center;
  height: 2.5rem;
  display: block; /*Так виставив ссилку по центру*/
  margin: auto;
  border: 2px solid transparent;
  border-radius: 2rem;
  line-height: 2.25rem;
}

.main-find-partner-button {
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  background: var(--color-for-bottons);
}

.wrapper-for-all-content-of-partner-finder-section {
  margin-top: 4.375rem;
}

.partner-finder-title {
  font-size: 1.375rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-partners-title-partners-members-name);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.partner-finder-member-image {
  display: block;
  margin: auto;
  width: 7.5rem;
  margin-bottom: 1rem;
}

.partner-finder-member-name {
  font-size: 0.875rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-partners-title-partners-members-name);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.partner-finder-member-description {
  font-size: 0.875rem;
  font-family: var(--font-for-subtitles-members-description);
  color: var(--text-color-for-members-description);
  text-align: center;
}

.partner-finder-button {
  color: var(--color-for-bottons);
  border-color: var(--color-for-bottons);
}

/* MEDIA */

@media (min-width: 320px) {
  .wrapper-for-header-and-main-find-section-background {
    padding-top: 1.25rem;
    padding-bottom: 8.75rem;
  }

  .header {
    display: flex;
    flex-direction: column; /*Це дав для того, щоб працювала css властивысть order*/
    justify-content: center;
  }

  .logo {
    order: 1;
    text-align: center;
    align-self: center;
  }

  .login-and-sign-up {
    margin-bottom: 7rem;
  }

  .login-and-sign-up-list {
    display: flex;
    justify-content: center;
  }

  .login-and-sign-up-list-li {
    flex-basis: 5.3125rem;
    height: 2.1875rem;
  }

  .login-and-sign-up-list-li-link {
    display: block; /*Розтянув саму ссилку на всю ширину li*/
  }

  .main-find-title {
    font-size: 1.8rem;
    margin-top: 2.5rem;
    margin-right: auto;
    margin-left: auto;
  }

  .main-find-subtitle {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  }

  .bottons-for-main-find-and-partners-finder {
    width: 17.5rem;
  }

  .partner-finder-all-members-wrapper {
    padding: 0 15%;
  }

  .partner-finder-member-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }

  .partner-finder-button {
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  .wrapper-for-header-and-main-find-section-background {
    padding: 2.375rem 10% 15rem 10%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  .logo {
    order: 0;
  }

  .login-and-sign-up {
    margin-bottom: 0; /*Забираю відступ, який був в мобільній медіа*/
  }

  .login-and-sign-up-list-li {
    display: inline-block; /*Зробив їх інлан-блочними, щоб дати ширину, бо вони зхлопувались і не міг дати їм ширину навіть коли вони флекси через flex-basis*/
    width: 5.3125rem;
    height: 2.1875rem;
  }

  .main-find-title {
    font-size: 3.25rem;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .main-find-subtitle {
    font-size: 1.375rem;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
  }

  .bottons-for-main-find-and-partners-finder {
    width: 14rem;
  }
  .partner-finder-title {
    margin-bottom: 2rem;
  }

  .partner-finder-all-members-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
  }

  .partner-finder-member-wrapper {
    flex-basis: 35%;
    padding: 0;
    margin-bottom: 0%;
  }

  .partner-finder-member-wrapper:not(:last-child) {
    margin-bottom: 0;
  }

  .partner-finder-member-wrapper:nth-child(2n-1) {
    margin-right: 5%;
  }

  .partner-finder-member-wrapper:not(:nth-last-child(-n + 2)) {
    margin-bottom: 5%;
  }
}
/* ---------------------------------------------------------------------------- */
@media (min-width: 940px) {
  .partner-finder-member-wrapper {
    flex-basis: 21.25%; /*Змнив їх ширину так, щоб уже вміщалось четверо*/
    margin-bottom: 0;
  }

  .partner-finder-member-wrapper:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }

  .partner-finder-member-wrapper:not(:nth-child(4n)) {
    margin-right: 5%; /*Тут я змінив порядок марджинів для медія 940 і більше. Задав всім крім четвертого відступ зправа*/
  }
}
