:root {
  --font-for-logo-register-buttons-titles-members-name: "Montserrat", sans-serif;
  --font-for-subtitles-members-description: "Roboto", sans-serif;
  --text-color-for-logo-register-buttons-text-titles-subtitles: #ffffff;
  --text-color-for-partners-title-partners-members-name: #333333;
  --text-color-for-members-description: #8f8f8f;
  --color-for-buttons: #ff4e50;
}

body {
  padding-bottom: 2.5rem;
}

.wrapper-for-header-and-main-find-section-background {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 1.25rem;
  padding-bottom: 8.75rem;
}

.wrapper-for-all-content {
  margin: auto;
  min-width: 20rem;
  max-width: 58.75rem;
}

.logo {
  font-size: 1.25rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 2.1875rem; /*Так вирівняв текст всередині ссилки. Видно при розширеннях вище 768px*/
}

.login-and-sign-up {
  margin-bottom: 7rem;
}

.login-and-sign-up-list {
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
}

.login-and-sign-up-list-li {
  border: 2px solid transparent;
  border-radius: 2rem;
  height: 2.1875rem;
  line-height: 1.9rem; /*Так вирівняв текст всередині ссилки*/
  flex-basis: 5.5rem;
}
.login-and-sign-up-list-li-link {
  font-size: 0.875rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  display: block;/*Для того щоб ссилка зайняла всю ширину кнопки*/
}

.sign-up-button {
  border: 2px solid
    var(--text-color-for-logo-register-buttons-text-titles-subtitles);
}
.main-find {
  margin-top: 2.5rem;
}

.main-find-title {
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.main-find-subtitle {
  font-family: var(--font-for-subtitles-members-description);
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  font-weight: 100;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.buttons-for-main-find-and-partners-finder {
  text-decoration: none;
  font-size: 0.875rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  font-weight: 700;
  text-align: center;
  line-height: 2.25rem;
  height: 2.5rem;
  width: 17.5rem;
  display: block; /*Так виставив ссилку по центру*/
  margin: auto;
  border: 2px solid transparent;
  border-radius: 2rem;
}

.main-find-partner-button {
  color: var(--text-color-for-logo-register-buttons-text-titles-subtitles);
  background: var(--color-for-buttons);
}

.wrapper-for-all-content-of-partner-finder-section {
  margin-top: 4.375rem;
}

.partner-finder-all-members-wrapper {
  margin-bottom: 1.5rem;
}

.partner-finder-title {
  font-size: 1.375rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-partners-title-partners-members-name);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.partner-finder-member-image {
  display: block;
  margin: auto;
  width: 7.5rem;
  margin-bottom: 1rem;
}

.partner-finder-member-name {
  font-size: 0.875rem;
  font-family: var(--font-for-logo-register-buttons-titles-members-name);
  color: var(--text-color-for-partners-title-partners-members-name);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.partner-finder-member-description {
  font-size: 0.875rem;
  font-family: var(--font-for-subtitles-members-description);
  color: var(--text-color-for-members-description);
  text-align: center;
}

.partner-finder-member-wrapper:not(:last-child) {
  margin-bottom: 2rem;
}

.partner-finder-button {
  color: var(--color-for-buttons);
  border-color: var(--color-for-buttons);
}

/* MEDIA */

@media (min-width: 768px) {
  .wrapper-for-header-and-main-find-section-background {
    padding-top: 2.375rem;
    padding-bottom: 14.625rem;
  }

  .row-for-header-elements {
    display: flex;
    justify-content: space-between;
  }

  .header {
    margin-bottom: 8rem;
  }

  .logo {
    margin: 0;
  }

  .login-and-sign-up {
    margin-bottom: 0;
    order: 1;
  }

  .main-find {
    margin-top: 0;
  }

  .main-find-title {
    font-size: 3.25rem;
  }

  .main-find-subtitle {
    font-size: 1.375rem;
    margin-bottom: 2rem;
  }

  .buttons-for-main-find-and-partners-finder {
    width: 14rem;
  }

  .partner-finder-all-members-wrapper {
    margin-bottom: 2rem;
  }

  .partner-finder-title {
    margin-bottom: 2rem;
  }

  .partner-finder-member-wrapper:not(:last-child) {
    margin-bottom: 0;
  }

  .partner-finder-member-wrapper:not(:nth-last-child(-n + 2)) {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 940px) {

  .partner-finder-member-wrapper:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }

  .partner-finder-member-wrapper:not(:nth-last-child(-n + 4)) {
    margin-bottom: 3.5rem;
  }

}